<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />       
        
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpContextBinding_IExpenseService" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55278/ExpenseService.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpContextBinding_IExpenseService"
                contract="IExpenseService" name="BasicHttpContextBinding_IExpenseService" />
        </client>
    </system.serviceModel>
</configuration>
