<!-- Sidebar -->

<div class="panel panel-primary full">
    <div class="panel-heading">Menu</div>

    <div class="stretched panel-body-wrapper">
        <div class="panel-body">
            <ul class="sidebar-nav">
                <li ng-repeat="item in items" ng-class="{active: item.selected}">
                    <a href="#" ng-click="handleSidebarItemClick($event,item)">
                        {{item.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
